@charset 'utf-8';

/* body{

} */
.calc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
fieldset{
    width: 500px;
    height: 300px;
    padding: 30px 20px;
    box-sizing: border-box;
}
legend{
    font-size: 20px;
}
label{
    font-size: 20px;
    margin-bottom: 15px;
}
input{
    width: 310px;
    height: 35px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    text-indent: 20px;
}
button{
    padding: 15px;
    cursor: pointer;
}
.btns{
    margin-bottom: 15px;
}